body{
    margin:0;
    font-size: 1.5em;
    text-align:center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#b5aaff;
    padding:25px;
    color:rgba(210, 8, 224, 0.729);
    width: 100%;   
}

main{
    padding: 1.5rem;
    background-image: url(../image/mybackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

header img{
    border-radius: 100%;
}

#last_p img{
    border-radius: 1rem;
    width: 15rem;
    height: 200px;
}

nav a{
    margin: 0 1rem;
    text-decoration: none;
    color: #1a1a1a;
    transition: background 0.3s;
 }

#aside, #sidebar {
    display: inline-block;
    height: fit-content;
    margin-bottom: 0;
}

#aside{
     width: 35%;
     background-color: rgb(237, 15, 237);
     color: rgb(8, 6, 8);
     font-family: "Segoe Script","Lucida Handwriting","cursive";
     padding: 0 16px;
 }
#sidebar{
    margin: 0 auto;
    padding: 0;
    position: relative;
    bottom: 12rem;
    width: 55%;
}

footer{
    background-color: #b5aaff;
    padding: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav a:hover, nav .active {
    background-color: #fff;
}